/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

//smart layout of sprite
$sprites-layout: smart;
@import "sprites/*.png";
@include all-sprites-sprites;

// mixin for media query
@mixin respond-to($breakpoint) 
{
    @media only screen and (min-width: $breakpoint+px) { @content; }
}

// mixin for border-radius


@mixin clearfix
{

	&:before, &:after
	{
		content: "";
  		display: table;
	}

	&:after
	{
		clear:both;
	}
	zoom:1;
}

@mixin generalshadow
{
	@include box-shadow(rgba(6, 0, 1, 0.2) 0px 1px 1px 0px);
}

@mixin addEllipsis
{
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

//vertical aligh
@mixin vertical-pesudo
{
	&:before 
	{
  		content: "";
  		display: inline-block;
  		vertical-align: middle;
  		height: 100%;
  	}
}

// breakpoint
$smallwidth:960;
$widewidth:1205;

//color
$netGreen: #39a030;
html
{
	font-size: 10px;
}
body
{
	font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
	-webkit-font-smoothing: antialiased;

	font-size:1.6rem;
	color:#333333;
}


button /*reset button*/
{
	background-color:transparent;
	border-style:none;
	padding:0;
	margin:0;
	cursor: pointer;
}

a:link, a:visited
{
	text-decoration:none;
	color:$netGreen;
}

a:hover
{
	text-decoration:underline;
}

i
{
	display:inline-block;
}

.reminder
{
	font-size:1.2rem;
	background-color:#f3f3f3;

	div
	{
		width: $smallwidth+px;
		margin: 0 auto;


		@include respond-to($widewidth)
		{
			width:$widewidth+px;
		}

	}

	p
	{
		display: inline-block;
		vertical-align: middle;
		margin: 1.2rem 0;   
	}

	button
	{
		float: right;
		vertical-align: middle;
		margin: 1.2rem 0;  
		font-size: 1.2rem;
		color: #333333;

		i
		{
			width: 0.9rem;
			height:0.9rem;
			margin:0 0.6rem 0 0;
		}
	}
	
}


header
{
	width:$smallwidth+px;
	margin:0 auto;
	padding-top:3.6rem;
	padding-bottom: 3.6rem;
	font-size:0;  /*for inline-block*/
	
	@include respond-to($widewidth)
	{
		width:$widewidth+px;
	}

	.sprites-logo-ETU
	{
			display: inline-block;
			width: 7rem;
			height:1.9rem;
			vertical-align: middle;
			margin-right:1.2rem;
	}

	h1
	{
		display: inline-block;
		vertical-align: middle;
		margin-right: 3rem;
		font:22px/22px "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;


	}

	p
	{
		display: inline-block;
		vertical-align: middle;
		font:1.2rem/1.2rem "SimSun","宋体","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
	}

	button
	{
		vertical-align: middle;
		margin-right: 1.4rem;
		padding: 0.5rem 0.9rem;
		color:white;
		background-color:$netGreen;
		@include border-radius(2px);
		
		&:hover
		{
			background-color:#2fb556;
		}

		i
		{
			display: inline-block;
			width: 0.8rem;
			height:0.8rem;
			margin-right: 0.4rem;
		}
	}

	nav
	{
		display: inline-block;
		float:right;
		color: #666666;
		ul
		{
			display: inline-block;

			i
			{
				margin-left:3rem;
				margin-right:1.4rem;
				height: 1.6rem;
				width: 1.6rem;

			}
		}
		li
		{
			font:1.6rem/1.6rem "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
			display: inline;
			margin-left:5.6rem;
			
			a:link, a:visited
			{
				color: #666666;
			}

			a:hover
			{
				color:$netGreen;
				text-decoration: none;
			}			
			
		}
	}
}

/* start of slide */
.slide
{
	position:relative;
	height:46rem;
	width:$smallwidth+px;
	

	font-size:0;
	// text-align:center;
	
	@include respond-to($smallwidth)
	{
		width: $widewidth+px;
	}
	@include respond-to($widewidth)
	{
		width: 100%;
	}

	.banner
	{
		display: block;
		position:absolute;
		left:0;
		right:0;
		width: 100%;
		height:100%;
		background-size: cover;
		background-position: center;

	}

	#banner1
	{
		background-image:image-url("banner1.jpg");
		z-index: 2;
	}
	#banner2
	{
		background-image:image-url("banner2.jpg");
		z-index: 1;
	}
	#banner3
	{
		background-image:image-url("banner3.jpg");
		z-index: 1;
	}

	.pointSet
	{
		position: absolute;
		display: inline-block;
		width: 100px;
		bottom: 2rem;
		left:50%;
		margin-left: -50px;
		text-align: center;
		z-index: 9;
	}
	i
	{
		display: inline-block;
		width: 1rem;
		height: 1rem;
		@include border-radius(1rem);
		background-color:#ffffff;
		cursor: pointer;
		margin:0 0.6rem;

		&.current
		{
			background-color:#333333;
		}

		&:hover
		{
			background-color:#333333;
		}
	}
}

/*start of columns*/
.three-columns
{
	width:960px;
	margin:6rem auto;
	@include respond-to($widewidth)
	{
		width:$widewidth+px;
	}
	
	@include clearfix;

	section
	{
		float:left;
		margin-right:7rem;

		&:last-of-type
		{
			margin-right:0;

		}
		div
		{
			display: inline-block;
		}

		a
		{
			font-size: 1.4rem;
		}
	}
	i
	{
		display: inline-block;
		float: left;
		width: 8rem;
		height: 8rem;
		margin-right:2rem;
		margin-top: 0.6rem;
	}
	h2
	{
		font-size: 2.2rem;
		margin-bottom: 2rem;
	}
	p
	{
		width: 17.2rem;
		margin-bottom: 5.2rem;
		font-size: 1.4rem;
		line-height: 2.4rem;
		color:#666666;
		@include respond-to($widewidth)
		{
			width: 25rem;
		}
	}
}

/*list of images*/
.imagesList
{
	width:1616px;
	margin: 0 auto;
	font-size:0;
	text-align:center;
	img
	{
		display:inline-block;
		margin-right:4px;

		&:last-of-type
		{
			margin-right:0;
		}
	}
}


.ajaxWrapper
{
	background-color:#f8f8f8;
}
.ajaxPart
{
	width:$smallwidth+px;
	margin:0 auto;
	padding-top:84px;
	padding-bottom:120px;
	
	@include respond-to($widewidth)
	{
		width:$widewidth+px;
	}

	@include clearfix;

	//icon and span part
	i
	{
		display: inline-block;
		width: 9px;
		height:11px;
		margin-right: 5px;
		vertical-align: middle;
	}

	span
	{
		font-size: 1rem;
		vertical-align: middle;
	}
}

/*course part*/


.courseList
{
	width:735px;
	margin-right:2px;
	float:left;

	@include respond-to($widewidth)
	{
		width: 980px;
	}
	
	section
	{
		float: left;
		margin-right: 20px;
		margin-bottom: 25px;
		background-color:#ffffff;
		width: 225px;
		font-size: 1.2rem;
		@include generalshadow;
		
		img
		{
			width: 223px;
			margin: 1px;

		}
		
		h2
		{
			@include addEllipsis;
		}

		.class-textWrapper
		{
			padding: 0.9rem 0.5rem 1.1rem;
		}
		.class-category
		{
			margin: 1rem 0;
			color: #999999;
			@include addEllipsis;
		}

		.class-numberOfStudent
		{
			display: inline-block;
			font-size: 1rem;
			margin-bottom: 1rem;
			padding:3px;
			
			border-style:solid;
			border-width:thin;
			border-color:#dddddd;
			@include border-radius(2px);


		}

		.class-price
		{
			color:#ff3f00;

		}
	}
}

.courseTab
{
	font-size:2rem;
	color: #666666;
	margin-bottom:29px;
	padding:1.5rem 5.8rem;
	background-color:#ffffff;
	&.current
	{
		background-color:$netGreen;
		color: #ffffff;
	}
  
  	@include generalshadow;


}

/* page flip button*/
.pageFlip
{
	clear:both;
	float:right;
	margin-right:15px;
	margin-top:5px;
	button
	{
		margin: 0 4px;
		padding:4px 7px;
		font-size: 1.5rem;
		color: #666666;
		vertical-align: middle;
		
		&:hover
		{
			color: $netGreen;
		}
		&.current
		{
			color:#ffffff;
			background-color:#9dd8b1;
		}

		&.flip
		{
			padding:7px 12px;
			font-size: 8px;
			background-color:#9dd8b1;

		}		
		i
		{
			width: 8px;
			height:12px;
			margin:0;
			line-height: 1;
		}
	}
}


/*end of course*/

/*start of course*/
aside.recommend
{
	float:right;
	width: 223px;

}

.aside-intro
{
	margin-bottom:21px;
	background-color:#ffffff;
	@include generalshadow;

	h2
	{
		margin-bottom: 11px;
		padding:20px;
		border-bottom-style:solid;
		border-bottom-width:thin;
		border-color:#dddddd;

	}

	.videoWrapper
	{
		padding:20px;
		font-size: 1.4rem;
		color: #666666;

		p
		{
			margin-bottom: 9px;
		}
	}
}

.aside-hot
{
	padding-bottom:20px;
	section
	{
		margin-top:20px;
		padding: 0 20px;
		@include clearfix;

	}

	img
	{
		display: inline-block;
		float:left;
		margin-right: 12px;
		width: 50px;
		height:50px;
	}

	h3
	{
		font-size: 1.4rem;
		@include addEllipsis;
	}
	
}
/*footer part*/
footer
{
	background-color:#2c3339;
	color:#bebfc0;
	font-size:1.25rem;
	padding-top:80px;
	padding-bottom:76px;
	@include clearfix;

	section
	{
		float: left;
		margin-top: 15px;
		margin-right: 143px;
	}
	&>div
	{
		width: $smallwidth+px;
		margin: 0 auto;

		@include respond-to($widewidth)
		{
			width: 1105px;
		}
	}
	i
	{
		display: inline-block;
		width: 7rem;
		height:2.2rem;
		// background-position: 0 -20.9px;
		background-size:80px 318px;
		vertical-align: middle;
		margin-right:1.2rem;		
	}

	h2
	{
		display: inline-block;
		vertical-align: middle;
		font-size: 2.2rem;
		color: $netGreen;
	}

	a
	{
		font-size: 1.5rem;
		&:link, &:visited
		{
			color: #bebfc0;
		}
	}

	ul
	{
		display: block;
		float:left;
		line-height: 3rem;
		margin-right: 96px;
	
		i
		{
			display: inline-block;
			margin-left:10px;
			width:20px;
			height:16px;
			background-size:80px 294px;
		}
		li
		{

		}
	}
}

.copyright
{
	margin-top:2.6rem;
	line-height:2;
}