/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/utilities";

//smart layout of sprite
$sprites-layout: smart;
@import "sprites/*.png";
@include all-sprites-sprites;

// mixin for media query
@mixin respond-to($breakpoint) 
{
    @media only screen and (min-width: $breakpoint+px) { @content; }
}

// mixin for border-radius





// breakpoint
$smallwidth:960;
$widewidth:1205;

//color
$netGreen: #39a030;
html
{
	font-size: 10px;
}
body
{
	font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
	-webkit-font-smoothing: antialiased;

	font-size:1.6rem;
	color:#333333;
}


button /*reset button*/
{
	background-color:transparent;
	border-style:none;
	padding:0;
	margin:0;
	cursor: pointer;
}

a:link, a:visited
{
	text-decoration:none;
	color:$netGreen;
}

a:hover
{
	text-decoration:underline;
}

i
{
	display:inline-block;
}

.reminder
{
	font-size:1.2rem;
	background-color:#f3f3f3;

	div
	{
		width: $smallwidth+px;
		margin: 0 auto;


		@include respond-to($widewidth)
		{
			width:$widewidth+px;
		}

	}

	p
	{
		display: inline-block;
		vertical-align: middle;
		margin: 1.2rem 0;   
	}

	button
	{
		float: right;
		vertical-align: middle;
		margin: 1.2rem 0;  
		font-size: 1.2rem;
		color: #333333;

		i
		{
			width: 0.9rem;
			height:0.9rem;
			margin:0 0.6rem 0 0;
		}
	}
	
}


header
{
	width:$smallwidth+px;
	margin:0 auto;
	padding-top:3.6rem;
	padding-bottom: 3.6rem;
	font-size:0;  /*for inline-block*/
	
	@include respond-to($widewidth)
	{
		width:$widewidth+px;
	}

	.sprites-logo-ETU
	{
			display: inline-block;
			width: 7rem;
			height:1.9rem;
			vertical-align: middle;
			margin-right:1.2rem;
	}

	h1
	{
		display: inline-block;
		vertical-align: middle;
		margin-right: 3rem;
		font:22px/22px "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;


	}

	p
	{
		display: inline-block;
		vertical-align: middle;
		font:1.2rem/1.2rem "SimSun","宋体","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
	}

	button
	{
		vertical-align: middle;
		margin-right: 1.4rem;
		padding: 0.5rem 0.9rem;
		color:white;
		background-color:$netGreen;
		@include border-radius(2px);

		i
		{
			display: inline-block;
			width: 0.8rem;
			height:0.8rem;
			margin-right: 0.4rem;
		}
	}

	nav
	{
		display: inline-block;
		float:right;
		color: #666666;
		ul
		{
			display: inline-block;

			i
			{
				margin-left:3rem;
				margin-right:1.4rem;
				height: 1.6rem;
				width: 1.6rem;
			}
		}
		li
		{
			font:1.6rem/1.6rem "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
			display: inline;
			margin-left:5.6rem;

			
		}
	}
}

/* start of slide */
.slide
{
	position:relative;
	height:46rem;
	width:100%;
	background-image:image-url("banner1.jpg");
	background-size: cover;
	background-position: center;
	font-size:0;
	text-align:center;

	.pointSet
	{
		position: absolute;
		display: inline-block;
		bottom: 2rem;
		text-align: center;
	}
	i
	{
		display: inline-block;
		width: 1rem;
		height: 1rem;
		@include border-radius(1rem);
		background-color:#ffffff;
		cursor: pointer;
		margin:0 0.6rem;
	}
}
