@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 136, sprites/*.png */
.sprites-sprite, .sprites-icon-add, .sprites-icon-cross1, .sprites-icon-cross2, .sprites-icon-ketang, .sprites-icon-left, .sprites-icon-mooc, .sprites-icon-play, .sprites-icon-right, .sprites-icon-weibo, .sprites-icon-zoom, .sprites-logo-ETU {
  background-image: url('../_images/sprites-se68d39e41d.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-add {
  background-position: -70px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-cross1 {
  background-position: 0 -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-cross2 {
  background-position: -9px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-ketang {
  background-position: 0 -214px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-left {
  background-position: -27px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-mooc {
  background-position: 0 -134px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-play {
  background-position: 0 -54px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-right {
  background-position: -19px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-weibo {
  background-position: -35px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-zoom {
  background-position: 0 0;
}
/* line 59, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-zoom:hover, .sprites-icon-zoom.icon-zoom-hover {
  background-position: -19px 0;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-logo-ETU {
  background-position: 0 -19px;
}

/* line 47, ../sass/main.scss */
html {
  font-size: 10px;
}

/* line 51, ../sass/main.scss */
body {
  font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  color: #333333;
}

/* line 61, ../sass/main.scss */
button {
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* line 70, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
  color: #39a030;
}

/* line 76, ../sass/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 81, ../sass/main.scss */
i {
  display: inline-block;
}

/* line 86, ../sass/main.scss */
.reminder {
  font-size: 1.2rem;
  background-color: #f3f3f3;
}
/* line 91, ../sass/main.scss */
.reminder div {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (min-width: 1205px) {
  /* line 91, ../sass/main.scss */
  .reminder div {
    width: 1205px;
  }
}
/* line 104, ../sass/main.scss */
.reminder p {
  display: inline-block;
  vertical-align: middle;
  margin: 1.2rem 0;
}
/* line 111, ../sass/main.scss */
.reminder button {
  float: right;
  vertical-align: middle;
  margin: 1.2rem 0;
  font-size: 1.2rem;
  color: #333333;
}
/* line 119, ../sass/main.scss */
.reminder button i {
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 0.6rem 0 0;
}

/* line 130, ../sass/main.scss */
header {
  width: 960px;
  margin: 0 auto;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  font-size: 0;
  /*for inline-block*/
}
@media only screen and (min-width: 1205px) {
  /* line 130, ../sass/main.scss */
  header {
    width: 1205px;
  }
}
/* line 143, ../sass/main.scss */
header .sprites-logo-ETU {
  display: inline-block;
  width: 7rem;
  height: 1.9rem;
  vertical-align: middle;
  margin-right: 1.2rem;
}
/* line 152, ../sass/main.scss */
header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3rem;
  font: 22px/22px "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
}
/* line 162, ../sass/main.scss */
header p {
  display: inline-block;
  vertical-align: middle;
  font: 1.2rem/1.2rem "SimSun","宋体","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
}
/* line 169, ../sass/main.scss */
header button {
  vertical-align: middle;
  margin-right: 1.4rem;
  padding: 0.5rem 0.9rem;
  color: white;
  background-color: #39a030;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 178, ../sass/main.scss */
header button:hover {
  background-color: #2fb556;
}
/* line 183, ../sass/main.scss */
header button i {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
}
/* line 192, ../sass/main.scss */
header nav {
  display: inline-block;
  float: right;
  color: #666666;
}
/* line 197, ../sass/main.scss */
header nav ul {
  display: inline-block;
}
/* line 201, ../sass/main.scss */
header nav ul i {
  margin-left: 3rem;
  margin-right: 1.4rem;
  height: 1.6rem;
  width: 1.6rem;
}
/* line 210, ../sass/main.scss */
header nav li {
  font: 1.6rem/1.6rem "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
  display: inline;
  margin-left: 5.6rem;
}
/* line 216, ../sass/main.scss */
header nav li a:link, header nav li a:visited {
  color: #666666;
}
/* line 221, ../sass/main.scss */
header nav li a:hover {
  color: #39a030;
  text-decoration: none;
}

/* start of slide */
/* line 232, ../sass/main.scss */
.slide {
  position: relative;
  height: 46rem;
  width: 960px;
  background-image: url('../_images/banner1.jpg?1427209844');
  background-size: cover;
  background-position: center;
  font-size: 0;
  text-align: center;
}
@media only screen and (min-width: 960px) {
  /* line 232, ../sass/main.scss */
  .slide {
    width: 1205px;
  }
}
@media only screen and (min-width: 1205px) {
  /* line 232, ../sass/main.scss */
  .slide {
    width: 100%;
  }
}
/* line 252, ../sass/main.scss */
.slide .pointSet {
  position: absolute;
  display: inline-block;
  bottom: 2rem;
  text-align: center;
}
/* line 259, ../sass/main.scss */
.slide i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 0.6rem;
}

/*start of columns*/
/* line 272, ../sass/main.scss */
.three-columns {
  width: 960px;
  margin: 6rem auto;
  zoom: 1;
}
@media only screen and (min-width: 1205px) {
  /* line 272, ../sass/main.scss */
  .three-columns {
    width: 1205px;
  }
}
/* line 27, ../sass/main.scss */
.three-columns:before, .three-columns:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.three-columns:after {
  clear: both;
}
/* line 283, ../sass/main.scss */
.three-columns section {
  float: left;
  margin-right: 7rem;
}
/* line 288, ../sass/main.scss */
.three-columns section:last-of-type {
  margin-right: 0;
}
/* line 293, ../sass/main.scss */
.three-columns section div {
  display: inline-block;
}
/* line 298, ../sass/main.scss */
.three-columns section a {
  font-size: 1.4rem;
}
/* line 303, ../sass/main.scss */
.three-columns i {
  display: inline-block;
  float: left;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}
/* line 311, ../sass/main.scss */
.three-columns h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
/* line 316, ../sass/main.scss */
.three-columns p {
  width: 17rem;
  margin-bottom: 5.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #666666;
}
@media only screen and (min-width: 1205px) {
  /* line 316, ../sass/main.scss */
  .three-columns p {
    width: 25rem;
  }
}
