@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 144, sprites/*.png */
.sprites-sprite, .sprites-icon-add, .sprites-icon-cross1, .sprites-icon-cross2, .sprites-icon-ketang, .sprites-icon-left, .sprites-icon-mooc, .sprites-icon-play, .sprites-icon-profile, .sprites-icon-right, .sprites-icon-weibo, .sprites-icon-zoom, .sprites-logo-ETU {
  background-image: url('../_images/sprites-s6838f1306e.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-add {
  background-position: -70px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-cross1 {
  background-position: 0 -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-cross2 {
  background-position: -9px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-ketang {
  background-position: 0 -214px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-left {
  background-position: -28px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-mooc {
  background-position: 0 -134px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-play {
  background-position: 0 -54px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-profile {
  background-position: -19px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-right {
  background-position: -36px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-weibo {
  background-position: -44px -38px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-zoom {
  background-position: 0 0;
}
/* line 59, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-zoom:hover, .sprites-icon-zoom.icon-zoom-hover {
  background-position: -19px 0;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-logo-ETU {
  background-position: 0 -19px;
}

/* line 70, ../sass/main.scss */
html {
  font-size: 10px;
}

/* line 74, ../sass/main.scss */
body {
  font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  color: #333333;
}

/* line 84, ../sass/main.scss */
button {
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* line 93, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
  color: #39a030;
}

/* line 99, ../sass/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 104, ../sass/main.scss */
i {
  display: inline-block;
}

/* line 109, ../sass/main.scss */
.reminder {
  font-size: 1.2rem;
  background-color: #f3f3f3;
}
/* line 114, ../sass/main.scss */
.reminder div {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (min-width: 1205px) {
  /* line 114, ../sass/main.scss */
  .reminder div {
    width: 1205px;
  }
}
/* line 127, ../sass/main.scss */
.reminder p {
  display: inline-block;
  vertical-align: middle;
  margin: 1.2rem 0;
}
/* line 134, ../sass/main.scss */
.reminder button {
  float: right;
  vertical-align: middle;
  margin: 1.2rem 0;
  font-size: 1.2rem;
  color: #333333;
}
/* line 142, ../sass/main.scss */
.reminder button i {
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 0.6rem 0 0;
}

/* line 153, ../sass/main.scss */
header {
  width: 960px;
  margin: 0 auto;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  font-size: 0;
  /*for inline-block*/
}
@media only screen and (min-width: 1205px) {
  /* line 153, ../sass/main.scss */
  header {
    width: 1205px;
  }
}
/* line 166, ../sass/main.scss */
header .sprites-logo-ETU {
  display: inline-block;
  width: 7rem;
  height: 1.9rem;
  vertical-align: middle;
  margin-right: 1.2rem;
}
/* line 175, ../sass/main.scss */
header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3rem;
  font: 22px/22px "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
}
/* line 185, ../sass/main.scss */
header p {
  display: inline-block;
  vertical-align: middle;
  font: 1.2rem/1.2rem "SimSun","宋体","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
}
/* line 192, ../sass/main.scss */
header button {
  vertical-align: middle;
  margin-right: 1.4rem;
  padding: 0.5rem 0.9rem;
  color: white;
  background-color: #39a030;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 201, ../sass/main.scss */
header button:hover {
  background-color: #2fb556;
}
/* line 206, ../sass/main.scss */
header button i {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
}
/* line 215, ../sass/main.scss */
header nav {
  display: inline-block;
  float: right;
  color: #666666;
}
/* line 220, ../sass/main.scss */
header nav ul {
  display: inline-block;
}
/* line 224, ../sass/main.scss */
header nav ul i {
  margin-left: 3rem;
  margin-right: 1.4rem;
  height: 1.6rem;
  width: 1.6rem;
}
/* line 233, ../sass/main.scss */
header nav li {
  font: 1.6rem/1.6rem "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
  display: inline;
  margin-left: 5.6rem;
}
/* line 239, ../sass/main.scss */
header nav li a:link, header nav li a:visited {
  color: #666666;
}
/* line 244, ../sass/main.scss */
header nav li a:hover {
  color: #39a030;
  text-decoration: none;
}

/* start of slide */
/* line 255, ../sass/main.scss */
.slide {
  position: relative;
  height: 46rem;
  width: 960px;
  background-image: url('../_images/banner1.jpg?1427209844');
  background-size: cover;
  background-position: center;
  font-size: 0;
  text-align: center;
}
@media only screen and (min-width: 960px) {
  /* line 255, ../sass/main.scss */
  .slide {
    width: 1205px;
  }
}
@media only screen and (min-width: 1205px) {
  /* line 255, ../sass/main.scss */
  .slide {
    width: 100%;
  }
}
/* line 275, ../sass/main.scss */
.slide .pointSet {
  position: absolute;
  display: inline-block;
  bottom: 2rem;
  text-align: center;
}
/* line 282, ../sass/main.scss */
.slide i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 0.6rem;
}
/* line 292, ../sass/main.scss */
.slide i.current {
  background-color: #333333;
}
/* line 297, ../sass/main.scss */
.slide i:hover {
  background-color: #333333;
}

/*start of columns*/
/* line 305, ../sass/main.scss */
.three-columns {
  width: 960px;
  margin: 6rem auto;
  zoom: 1;
}
@media only screen and (min-width: 1205px) {
  /* line 305, ../sass/main.scss */
  .three-columns {
    width: 1205px;
  }
}
/* line 27, ../sass/main.scss */
.three-columns:before, .three-columns:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.three-columns:after {
  clear: both;
}
/* line 316, ../sass/main.scss */
.three-columns section {
  float: left;
  margin-right: 7rem;
}
/* line 321, ../sass/main.scss */
.three-columns section:last-of-type {
  margin-right: 0;
}
/* line 326, ../sass/main.scss */
.three-columns section div {
  display: inline-block;
}
/* line 331, ../sass/main.scss */
.three-columns section a {
  font-size: 1.4rem;
}
/* line 336, ../sass/main.scss */
.three-columns i {
  display: inline-block;
  float: left;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  margin-top: 0.6rem;
}
/* line 345, ../sass/main.scss */
.three-columns h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
/* line 350, ../sass/main.scss */
.three-columns p {
  width: 17.2rem;
  margin-bottom: 5.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #666666;
}
@media only screen and (min-width: 1205px) {
  /* line 350, ../sass/main.scss */
  .three-columns p {
    width: 25rem;
  }
}

/*list of images*/
/* line 365, ../sass/main.scss */
.imagesList {
  width: 1616px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
/* line 371, ../sass/main.scss */
.imagesList img {
  display: inline-block;
  margin-right: 4px;
}
/* line 376, ../sass/main.scss */
.imagesList img:last-of-type {
  margin-right: 0;
}

/* line 384, ../sass/main.scss */
.ajaxWrapper {
  background-color: #f8f8f8;
}

/* line 388, ../sass/main.scss */
.ajaxPart {
  width: 960px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 120px;
  zoom: 1;
}
@media only screen and (min-width: 1205px) {
  /* line 388, ../sass/main.scss */
  .ajaxPart {
    width: 1205px;
  }
}
/* line 27, ../sass/main.scss */
.ajaxPart:before, .ajaxPart:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.ajaxPart:after {
  clear: both;
}
/* line 403, ../sass/main.scss */
.ajaxPart i {
  display: inline-block;
  width: 9px;
  height: 11px;
  margin-right: 5px;
  vertical-align: middle;
}
/* line 412, ../sass/main.scss */
.ajaxPart span {
  font-size: 1rem;
  vertical-align: middle;
}

/*course part*/
/* line 422, ../sass/main.scss */
.courseList {
  width: 735px;
  margin-right: 2px;
  float: left;
}
@media only screen and (min-width: 1205px) {
  /* line 422, ../sass/main.scss */
  .courseList {
    width: 980px;
  }
}
/* line 433, ../sass/main.scss */
.courseList section {
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
  width: 225px;
  font-size: 1.2rem;
  -moz-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
}
/* line 442, ../sass/main.scss */
.courseList section img {
  width: 223px;
  margin: 1px;
}
/* line 449, ../sass/main.scss */
.courseList section h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 454, ../sass/main.scss */
.courseList section .class-textWrapper {
  padding: 0.9rem 0.5rem 1.1rem;
}
/* line 458, ../sass/main.scss */
.courseList section .class-category {
  margin: 1rem 0;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 465, ../sass/main.scss */
.courseList section .class-numberOfStudent {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #dddddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 480, ../sass/main.scss */
.courseList section .class-price {
  color: #ff3f00;
}

/* line 488, ../sass/main.scss */
.courseTab {
  font-size: 2rem;
  color: #666666;
  margin-bottom: 29px;
  padding: 1.5rem 5.8rem;
  background-color: #ffffff;
  -moz-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
}
/* line 495, ../sass/main.scss */
.courseTab.current {
  background-color: #39a030;
  color: #ffffff;
}

/* page flip button*/
/* line 507, ../sass/main.scss */
.pageFlip {
  clear: both;
  float: right;
  margin-right: 15px;
}
/* line 512, ../sass/main.scss */
.pageFlip button {
  margin: 0 5px;
  padding: 4px 7px;
  font-size: 1.5rem;
  color: #666666;
  vertical-align: middle;
}
/* line 520, ../sass/main.scss */
.pageFlip button:hover {
  color: #39a030;
}
/* line 524, ../sass/main.scss */
.pageFlip button.current {
  color: #ffffff;
  background-color: #9dd8b1;
}
/* line 530, ../sass/main.scss */
.pageFlip button.flip {
  padding: 7px 12px;
  font-size: 8px;
  background-color: #9dd8b1;
}
/* line 537, ../sass/main.scss */
.pageFlip button i {
  width: 8px;
  height: 12px;
  margin: 0;
  line-height: 1;
}

/*end of course*/
/*start of course*/
/* line 551, ../sass/main.scss */
aside.recommend {
  float: right;
  width: 223px;
}

/* line 558, ../sass/main.scss */
.aside-intro {
  margin-bottom: 21px;
  background-color: #ffffff;
  -moz-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
}
/* line 564, ../sass/main.scss */
.aside-intro h2 {
  margin-bottom: 11px;
  padding: 20px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #dddddd;
}
/* line 574, ../sass/main.scss */
.aside-intro .videoWrapper {
  padding: 20px;
  font-size: 1.4rem;
  color: #666666;
}
/* line 580, ../sass/main.scss */
.aside-intro .videoWrapper p {
  margin-bottom: 9px;
}

/* line 587, ../sass/main.scss */
.aside-hot {
  padding-bottom: 20px;
}
/* line 590, ../sass/main.scss */
.aside-hot section {
  margin-top: 20px;
  padding: 0 20px;
  zoom: 1;
}
/* line 27, ../sass/main.scss */
.aside-hot section:before, .aside-hot section:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.aside-hot section:after {
  clear: both;
}
/* line 598, ../sass/main.scss */
.aside-hot img {
  display: inline-block;
  float: left;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}
/* line 607, ../sass/main.scss */
.aside-hot h3 {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
