@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 152, sprites/*.png */
.sprites-sprite, .sprites-icon-add, .sprites-icon-cross1, .sprites-icon-cross2, .sprites-icon-ketang, .sprites-icon-left, .sprites-icon-mooc, .sprites-icon-play, .sprites-icon-profile, .sprites-icon-right, .sprites-icon-strike, .sprites-icon-weibo, .sprites-icon-zoom, .sprites-logo-ETU {
  background-image: url('../_images/sprites-s89bb81aeec.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-add {
  background-position: 0 -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-cross1 {
  background-position: -19px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-cross2 {
  background-position: -28px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-ketang {
  background-position: 0 -50px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-left {
  background-position: -55px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-mooc {
  background-position: 0 -210px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-play {
  background-position: 0 -130px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-profile {
  background-position: -38px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-right {
  background-position: -47px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-strike {
  background-position: -8px -19px;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-weibo {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-zoom {
  background-position: -20px 0;
}
/* line 59, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icon-zoom:hover, .sprites-icon-zoom.icon-zoom-hover {
  background-position: -39px 0;
}

/* line 84, ../../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-logo-ETU {
  background-position: 0 -31px;
}

/* line 75, ../sass/main.scss */
html {
  font-size: 10px;
  height: 100%;
}

/* line 80, ../sass/main.scss */
body {
  font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  color: #333333;
  height: 100%;
}

/* line 91, ../sass/main.scss */
button {
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* line 100, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
  color: #39a030;
}

/* line 106, ../sass/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 111, ../sass/main.scss */
i {
  display: inline-block;
}

/* line 116, ../sass/main.scss */
.reminder {
  font-size: 1.2rem;
  background-color: #f3f3f3;
}
/* line 121, ../sass/main.scss */
.reminder div {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (min-width: 1205px) {
  /* line 121, ../sass/main.scss */
  .reminder div {
    width: 1205px;
  }
}
/* line 134, ../sass/main.scss */
.reminder p {
  display: inline-block;
  vertical-align: middle;
  margin: 1.2rem 0;
}
/* line 141, ../sass/main.scss */
.reminder button {
  float: right;
  vertical-align: middle;
  margin: 1.2rem 0;
  font-size: 1.2rem;
  color: #333333;
}
/* line 149, ../sass/main.scss */
.reminder button i {
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 0.6rem 0 0;
}

/* line 160, ../sass/main.scss */
header {
  width: 960px;
  margin: 0 auto;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  font-size: 0;
  /*for inline-block*/
}
@media only screen and (min-width: 1205px) {
  /* line 160, ../sass/main.scss */
  header {
    width: 1205px;
  }
}
/* line 173, ../sass/main.scss */
header .sprites-logo-ETU {
  display: inline-block;
  width: 7rem;
  height: 1.9rem;
  vertical-align: middle;
  margin-right: 1.2rem;
}
/* line 182, ../sass/main.scss */
header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3rem;
  font: 22px/22px "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
}
/* line 192, ../sass/main.scss */
header p {
  display: inline-block;
  vertical-align: middle;
  font: 1.2rem/1.2rem "SimSun","宋体","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
}
/* line 199, ../sass/main.scss */
header button {
  vertical-align: middle;
  margin-right: 1.4rem;
  padding: 0 0.9rem;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 206, ../sass/main.scss */
header button.toFollow {
  background-color: #39a030;
  color: white;
}
/* line 214, ../sass/main.scss */
header button.toFollow:hover {
  background-color: #2fb556;
}
/* line 219, ../sass/main.scss */
header button i {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
  vertical-align: middle;
}
/* line 228, ../sass/main.scss */
header button span {
  vertical-align: middle;
  line-height: 2.2rem;
}
/* line 233, ../sass/main.scss */
header button a {
  display: none;
  vertical-align: middle;
  line-height: 2.2rem;
}
/* line 240, ../sass/main.scss */
header button.followed {
  color: 333333;
  background-color: #f8f8f8;
  border-style: solid;
  border-width: thin;
  border-color: #efefef;
}
/* line 248, ../sass/main.scss */
header button.followed .sprites-icon-add {
  width: 11px;
  height: 9px;
  background-position: -8px -19px;
}
/* line 255, ../sass/main.scss */
header button.followed span {
  padding-right: 8px;
}
/* line 259, ../sass/main.scss */
header button.followed a {
  display: inline;
  padding-left: 8px;
  color: #999999;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: #cccccc;
}
/* line 268, ../sass/main.scss */
header button.followed a:hover {
  color: #39a030;
}
/* line 276, ../sass/main.scss */
header nav {
  display: inline-block;
  float: right;
  color: #666666;
}
/* line 281, ../sass/main.scss */
header nav ul {
  display: inline-block;
}
/* line 285, ../sass/main.scss */
header nav ul i {
  margin-left: 3rem;
  margin-right: 1.4rem;
  height: 1.6rem;
  width: 1.6rem;
}
/* line 294, ../sass/main.scss */
header nav li {
  font: 1.6rem/1.6rem "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Helvetica, sans-serif;
  display: inline;
  margin-left: 5.6rem;
}
/* line 300, ../sass/main.scss */
header nav li a:link, header nav li a:visited {
  color: #666666;
}
/* line 305, ../sass/main.scss */
header nav li a:hover {
  color: #39a030;
  text-decoration: none;
}

/* start of slide */
/* line 316, ../sass/main.scss */
.slide {
  position: relative;
  height: 46rem;
  width: 960px;
  font-size: 0;
}
@media only screen and (min-width: 960px) {
  /* line 316, ../sass/main.scss */
  .slide {
    width: 1205px;
  }
}
@media only screen and (min-width: 1205px) {
  /* line 316, ../sass/main.scss */
  .slide {
    width: 100%;
  }
}
/* line 335, ../sass/main.scss */
.slide .banner {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* line 348, ../sass/main.scss */
.slide #banner1 {
  background-image: url('../_images/banner1.jpg?1427209844');
  z-index: 2;
}
/* line 353, ../sass/main.scss */
.slide #banner2 {
  background-image: url('../_images/banner2.jpg?1427209832');
  z-index: 1;
}
/* line 358, ../sass/main.scss */
.slide #banner3 {
  background-image: url('../_images/banner3.jpg?1427209854');
  z-index: 1;
}
/* line 364, ../sass/main.scss */
.slide .pointSet {
  position: absolute;
  display: inline-block;
  width: 100px;
  bottom: 2rem;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  z-index: 9;
}
/* line 375, ../sass/main.scss */
.slide i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 0.6rem;
}
/* line 385, ../sass/main.scss */
.slide i.current {
  background-color: #333333;
}
/* line 390, ../sass/main.scss */
.slide i:hover {
  background-color: #333333;
}

/*start of columns*/
/* line 398, ../sass/main.scss */
.three-columns {
  width: 960px;
  margin: 6rem auto;
  zoom: 1;
}
@media only screen and (min-width: 1205px) {
  /* line 398, ../sass/main.scss */
  .three-columns {
    width: 1205px;
  }
}
/* line 27, ../sass/main.scss */
.three-columns:before, .three-columns:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.three-columns:after {
  clear: both;
}
/* line 409, ../sass/main.scss */
.three-columns section {
  float: left;
  margin-right: 7rem;
}
/* line 414, ../sass/main.scss */
.three-columns section:last-of-type {
  margin-right: 0;
}
/* line 419, ../sass/main.scss */
.three-columns section div {
  display: inline-block;
}
/* line 424, ../sass/main.scss */
.three-columns section a {
  font-size: 1.4rem;
}
/* line 429, ../sass/main.scss */
.three-columns i {
  display: inline-block;
  float: left;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  margin-top: 0.6rem;
}
/* line 438, ../sass/main.scss */
.three-columns h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
/* line 443, ../sass/main.scss */
.three-columns p {
  width: 17.2rem;
  margin-bottom: 5.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #666666;
}
@media only screen and (min-width: 1205px) {
  /* line 443, ../sass/main.scss */
  .three-columns p {
    width: 25rem;
  }
}

/*list of images*/
/* line 458, ../sass/main.scss */
.imagesList {
  width: 1616px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
/* line 464, ../sass/main.scss */
.imagesList img {
  display: inline-block;
  margin-right: 4px;
}
/* line 469, ../sass/main.scss */
.imagesList img:last-of-type {
  margin-right: 0;
}

/* line 477, ../sass/main.scss */
.ajaxWrapper {
  background-color: #f8f8f8;
}

/* line 481, ../sass/main.scss */
.ajaxPart {
  width: 960px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 120px;
  zoom: 1;
}
@media only screen and (min-width: 1205px) {
  /* line 481, ../sass/main.scss */
  .ajaxPart {
    width: 1205px;
  }
}
/* line 27, ../sass/main.scss */
.ajaxPart:before, .ajaxPart:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.ajaxPart:after {
  clear: both;
}
/* line 496, ../sass/main.scss */
.ajaxPart i {
  display: inline-block;
  width: 9px;
  height: 11px;
  margin-right: 5px;
  vertical-align: middle;
}
/* line 505, ../sass/main.scss */
.ajaxPart span {
  font-size: 1rem;
  vertical-align: middle;
}

/*course part*/
/* line 515, ../sass/main.scss */
.courseList {
  width: 735px;
  margin-right: 2px;
  float: left;
}
@media only screen and (min-width: 1205px) {
  /* line 515, ../sass/main.scss */
  .courseList {
    width: 980px;
  }
}
/* line 526, ../sass/main.scss */
.courseList section {
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
  background-color: #ffffff;
  width: 225px;
  font-size: 1.2rem;
  -moz-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
}
/* line 536, ../sass/main.scss */
.courseList section:hover {
  -moz-box-shadow: rgba(6, 0, 1, 0.5) 0px 1px 2px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.5) 0px 1px 2px 0px;
  box-shadow: rgba(6, 0, 1, 0.5) 0px 1px 2px 0px;
}
/* line 540, ../sass/main.scss */
.courseList section:hover h2 {
  color: #39a030;
}
/* line 546, ../sass/main.scss */
.courseList section img {
  width: 223px;
  margin: 1px;
}
/* line 553, ../sass/main.scss */
.courseList section h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 558, ../sass/main.scss */
.courseList section .class-textWrapper {
  padding: 0.9rem 0.5rem 1.1rem;
}
/* line 562, ../sass/main.scss */
.courseList section .class-category {
  margin: 1rem 0;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 569, ../sass/main.scss */
.courseList section .class-numberOfStudent {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #dddddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 584, ../sass/main.scss */
.courseList section .class-price {
  color: #ff3f00;
}

/* line 592, ../sass/main.scss */
.courseTab {
  font-size: 2rem;
  color: #666666;
  margin-bottom: 29px;
  padding: 1.5rem 5.8rem;
  background-color: #ffffff;
  -moz-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
}
/* line 599, ../sass/main.scss */
.courseTab.current {
  background-color: #39a030;
  color: #ffffff;
}

/* page flip button*/
/* line 611, ../sass/main.scss */
.pageFlip {
  clear: both;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
}
/* line 617, ../sass/main.scss */
.pageFlip button {
  margin: 0 4px;
  padding: 4px 7px;
  font-size: 1.5rem;
  color: #666666;
  vertical-align: middle;
}
/* line 625, ../sass/main.scss */
.pageFlip button:hover {
  color: #39a030;
}
/* line 629, ../sass/main.scss */
.pageFlip button.current {
  color: #ffffff;
  background-color: #9dd8b1;
}
/* line 635, ../sass/main.scss */
.pageFlip button.flip {
  padding: 7px 12px;
  font-size: 8px;
  background-color: #9dd8b1;
}
/* line 642, ../sass/main.scss */
.pageFlip button i {
  width: 8px;
  height: 12px;
  margin: 0;
  line-height: 1;
}

/*end of course*/
/*start of course*/
/* line 656, ../sass/main.scss */
aside.recommend {
  float: right;
  width: 223px;
}

/* line 663, ../sass/main.scss */
.aside-intro {
  margin-bottom: 21px;
  background-color: #ffffff;
  -moz-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  -webkit-box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
  box-shadow: rgba(6, 0, 1, 0.2) 0px 1px 1px 0px;
}
/* line 669, ../sass/main.scss */
.aside-intro h2 {
  margin-bottom: 11px;
  padding: 20px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #dddddd;
}
/* line 679, ../sass/main.scss */
.aside-intro .videoWrapper {
  padding: 20px;
  font-size: 1.4rem;
  color: #666666;
}
/* line 685, ../sass/main.scss */
.aside-intro .videoWrapper p {
  margin-bottom: 9px;
}

/* line 692, ../sass/main.scss */
.aside-hot {
  padding-bottom: 20px;
}
/* line 695, ../sass/main.scss */
.aside-hot section {
  margin-top: 20px;
  padding: 0 20px;
  zoom: 1;
}
/* line 27, ../sass/main.scss */
.aside-hot section:before, .aside-hot section:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
.aside-hot section:after {
  clear: both;
}
/* line 703, ../sass/main.scss */
.aside-hot img {
  display: inline-block;
  float: left;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}
/* line 712, ../sass/main.scss */
.aside-hot h3 {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*footer part*/
/* line 720, ../sass/main.scss */
footer {
  background-color: #2c3339;
  color: #bebfc0;
  font-size: 1.25rem;
  padding-top: 80px;
  padding-bottom: 76px;
  zoom: 1;
}
/* line 27, ../sass/main.scss */
footer:before, footer:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
footer:after {
  clear: both;
}
/* line 729, ../sass/main.scss */
footer .footerWrapper {
  zoom: 1;
}
/* line 27, ../sass/main.scss */
footer .footerWrapper:before, footer .footerWrapper:after {
  content: "";
  display: table;
}
/* line 33, ../sass/main.scss */
footer .footerWrapper:after {
  clear: both;
}
/* line 733, ../sass/main.scss */
footer section {
  float: left;
  margin-top: 15px;
  margin-right: 143px;
}
/* line 744, ../sass/main.scss */
footer section div {
  line-height: 22px;
}
/* line 749, ../sass/main.scss */
footer > div {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (min-width: 1205px) {
  /* line 749, ../sass/main.scss */
  footer > div {
    width: 1105px;
  }
}
/* line 759, ../sass/main.scss */
footer i {
  display: inline-block;
  width: 7rem;
  height: 1.9rem;
  vertical-align: middle;
  margin-right: 1.2rem;
}
/* line 770, ../sass/main.scss */
footer h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.2rem;
  color: #39a030;
}
/* line 778, ../sass/main.scss */
footer a {
  font-size: 1.5rem;
}
/* line 781, ../sass/main.scss */
footer a:link, footer a:visited {
  color: #bebfc0;
}
/* line 787, ../sass/main.scss */
footer ul {
  display: block;
  float: left;
  line-height: 3rem;
  margin-right: 96px;
}
/* line 794, ../sass/main.scss */
footer ul i {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 16px;
  background-size: 80px 295px;
}
/* line 803, ../sass/main.scss */
footer ul:last-of-type {
  margin-right: 0;
}

/* line 814, ../sass/main.scss */
.copyright {
  margin-top: 2.6rem;
  line-height: 2;
}

/*login part*/
/* line 822, ../sass/main.scss */
#loginWrapper, #videoWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
}

/* line 836, ../sass/main.scss */
.loginSquare {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 388px;
  height: 288px;
  margin-left: -194px;
  margin-top: -144px;
  background-color: #ffffff;
  text-align: center;
}
/* line 848, ../sass/main.scss */
.loginSquare i {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

/* line 861, ../sass/main.scss */
#login {
  display: inline-block;
  padding-top: 30px;
}
/* line 865, ../sass/main.scss */
#login legend {
  text-align: left;
  margin-bottom: 4px;
}
/* line 871, ../sass/main.scss */
#login input {
  display: inline-block;
  margin: 16px 0 0 0;
  width: 296px;
  height: 45px;
  padding: 14px 11px;
  font-size: 1.6rem;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 886, ../sass/main.scss */
#login #submit1 {
  margin-top: 30px;
  background-color: #39a030;
  border-style: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* line 899, ../sass/main.scss */
#alert {
  color: red;
  font-size: 1.2rem;
  margin-top: 6px;
}

/*video */
/* line 911, ../sass/main.scss */
.videoSquare {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 950px;
  height: 612px;
  margin-left: -475px;
  margin-top: -306px;
  background-color: #ffffff;
  text-align: center;
}
/* line 925, ../sass/main.scss */
.videoSquare h2 {
  width: 889px;
  font-size: 1.8rem;
  margin: 27px auto 5px;
  font-weight: bold;
  text-align: left;
}
/* line 936, ../sass/main.scss */
.videoSquare video {
  width: 888px;
  display: inline-block;
}
/* line 942, ../sass/main.scss */
.videoSquare i {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
